.page-body {
  margin: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    max-width: 1440px;
    margin: 0 auto;
  }
}
.form, .form input {
  border: 1px solid $border-color;
}
.form input {
  padding: 12px 10px;
  color: $border-color;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  background: 0 0;
  border-radius: 5px;
}
.promo__block-video {
  position: relative;
  width: 100%;
  padding: 37.37% 0 0;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: $border-color;
  background-color: $btn-color;
  border: 0;
  border-radius: 5px;
}
.container {
  max-width: 1280px;
    margin: 0 auto;
    padding: 0 96px;

}