.page-header {
  display: flex;
  background-color: lightblue;
  // стилі для десктоп

  @media (max-width: $tablet-width) {
    // стилі мобілка
    background-color: tomato;
  }
}

.daily-pay__icon {
  fill: white;
}
