body {
 
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), no-repeat 50% 50% url(../img/img/fon-image.png);
    background-size: cover;
}


.page-header {

    padding-top: 43px;
    padding-bottom: 35px;
    padding-left: 20px;
    border-bottom: 1px solid #fff;
    margin-bottom: 25px;

  // стилі для десктоп
  
 
}
.page-header__logo {
  padding:0 96px;
}
.promo__title {
  color:$promo__title;
  font-family: Arial;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  max-width: 513px;
  margin: 0 auto;
  }
  .promo__text {
    color: var(--white, #FFF);
  text-align: center;
/* txt reg */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 25px 70px 40px;
  }
  .promo__form {
    display: flex;
    gap: 50px;
    width: 100%;
  }
  .promo__form-title {
    color: $promo__title;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 32px;
  
  }
  .form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 320px;
    padding: 32px 22px;
    border-radius: 10px;
}
.promo__block-video {
  position: relative;
    width: 100%;
    padding: 37.37% 0 0;
}
  
    

@media (max-width: $tablet-width) {
  // стилі мобілка
   
  .page-header {
    border-bottom: 1px solid #FFF;
    padding-top: 43px;
    padding-bottom: 35px;
    padding-left: 20px;
    margin-bottom: 20px;
    
  }
  .page-header__logo {
    padding: 0;
  }
  .promo__title {
  color:$promo__title;
  font-family: Arial;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 25px;
  }

  .promo__text {
    color: $promo__title;
    font-family: Inter; 
  font-size: 16px;
  flex-direction: column;
    align-items: center;
    gap: 25px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 30px;
  }
  .promo__form {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0px 43px;
    border-radius: 10px;
    
  }
  .promo__form-title {
    color: $promo__title;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 32px;
  
  }
  .form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 320px;
  
    border-radius: 10px;
}
.promo__block-video {
  padding: 56.37% 0 0;
}
  .form input {
    display: flex;
    padding: 12px 10px;
    align-items: flex-start;
    border-radius: 5px;
    border: 1px solid $promo__title;
    gap: 10px;
  }
  .btn {
    display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  background-color: #5dc741;
  border: 0;
  border-radius: 5px;
  }
  .promo__block-video {
    position: relative;
    width: 100%;
  }
  
  
  
}


