h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), no-repeat 50% 50% url(/img/main-bcg.webp);
    margin: 0;
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #fff;

}
.box {
   
        padding-top: 43px;
        padding-bottom: 35px;
        border-bottom: 1px solid #fff;
   
}
.box__logo {
    padding-left: 96px;
    display: flex;
    align-items: center;
}
.box__logo svg {
    display: block;
    padding-left: 15px;
}
.container-head {
    position: relative;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-top: 25px;
}
.container-head_title {
    width: 700px;
    font-family: Arial;
    font-weight: 700;
    font-size: 48px;
    line-height: 55.2px;
    text-align: center;

}
.container-head__text {
    display: inline-block;
    margin-top: 20px;
    padding: 0 242px;
    font-family: Inter;
    font-size: 20px;
    line-height: 24.2px;
    text-align: center;
}
.container-head__information {
    display: flex;
    gap: 50px;
    width: 100%;
    margin-top: 20px;
}
.form {
    border: 1px solid #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 320px;
    padding: 32px 22px;
    border-radius: 10px;
}
.container-head__information__video {
    position: relative;
    width: 100%;
    padding: 32.37% 0 0;
}
.form-title {
    margin-bottom: 8px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}
.form input {
    border: 1px solid #fff;
    margin-bottom: 12px;
    padding: 12px 0px;
    color: #fff;
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    background: 0 0;
    border-radius: 5px;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    background-color: #5dc741;
    border: 0;
    border-radius: 5px;
    margin-top: 102px;
}
.container-partners {
    margin-top: 52px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 .container-partners__title {
    margin-bottom: 40px;
 }
.container-partners__icon {
    list-style: none;
}
.container-partners__logo{
    display: flex;
    gap: 75px;
    margin-bottom: 52px;
    flex-wrap: wrap;
    align-items: center;
}
@media (max-width:1240px) {
    .container-partners__logo{
        display: flex;
        gap: 43px;
        margin-bottom: 52px;
        flex-wrap: wrap;
        align-items: center;
    } 
}
.container-reviews {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 60px;
}
.container-reviews__title {
    font-family: Arial;
    font-weight: 700;
    font-size: 24px;
    line-height: 27.6px;
    margin-bottom: 20px;
}
.container-reviews__video-blok {
    position: relative;
    margin-bottom: 20px;
    display: flex;
}
.page-footer {
    border-top: 1px solid #fff;
    padding:50px 0;
   
}
.page-footer__inform {
    text-align: center;
    
} 
a {
    font-family: Inter;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    color: white;

}
a:hover {
opacity: 0.8;
}
 a:first-child {
    display: inline-block;
    margin-right: 50px;
}
.footer-text {
    padding-top: 42px;
}
p {
font-size: 20px;
}
input[type="tel"] {
    margin-left: 100px !important;
    padding-left: 10px !important;
    width: calc(100% - 99px);
}
.iti--separate-dial-code .iti__selected-flag {
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid #fbfbfb;
    border-radius: 5px;
}
.iti__selected-flag {
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 2px 0 8px;
}
label.error {
    margin-top: -5px;
    text-align: right;
    font-weight: 400;
    text-align: start;
    font-size: 12px;
    line-height: 15px;
}