//Colors
$main-color: #000000;

$basic-white: #ffffff;
$basic-black: #000000;
$header-color:#000000;
$promo__title:#FFF;
$bcg-black: #0d0c0c;
$btn-color: #5DC741;

$white-text: #fbfbfb;

// Viewprts
$tablet-width: 768px;
$border-color:#fff;
